
<div class="toppage">
<h1 class="top">カレンダー</h1>
<br>

<div class="row">
<div class="col-md-4">

<%= form_with(model: @blog, local: true) do |form| %>
  <%= render 'layouts/error_messages', model: form.object %>

  <div class="title">
    <div class="form-tag">タイトル</div>
    <%= form.text_field :title %>
  </div>


  <div class="content">
    <div class="form-tag">内容</div>
    <%= form.text_field :content %>
  </div>

    <div class="time">
    <div class="form-tag">時間</div>
    <%= form.datetime_select :date_time %>
  </div>

 <div class="submit">
    <%= form.submit "登録", class: 'btn btn btn-primary' %>
 </div>
<% end %>
</div>

<br>


<br>
<div class="col-md-8">
<%= month_calendar events: @blogs, attribute: :date_time do |date, blogs| %>
  <%= date.day %>

  <% blogs.each do |blog| %>
    <div>
      <%= link_to blog.title.truncate(8), blog %>
    </div>
  <% end %>
<% end %>
</div>
</div>
</div>
